$pink: #e02b57;
$silver: #3e4c5d;
$white: #ffffff;
$secondary: #ebf1f8;
$solicitada:rgb(5, 82, 199);
$processada:$silver;
$concluida:rgb(5, 143, 5);
$solicitada--light:#0466b1;
$processada--light:rgba(218, 149, 0, 0.9);
$concluida--light:rgba(4, 156, 32, 0.85);
$red--light:#e02b57;