$pink: #e02b57;
$silver: #3e4c5d;
$white: #ffffff;
$secondary: #ebf1f8;
$solicitada:rgb(5, 82, 199);
$processada:rgb(185, 75, 11);
$concluida:rgb(5, 143, 5);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/*Color text*/
.text--white{
    color: $white;
}
.text--pink{
    color: $pink;
}
.text--silver{
    color:$silver;
}
.text--solicitada{
    color:$solicitada;
}
.text--processada{
    color:$processada;
}
.text--concluida{
    color:$concluida;
}

/*Text Decoration/Transformation/Size*/
.text--bold{
    font-weight: bold !important;
}
.text--normal{
    font-weight: normal !important;
}
.text--uppercase{
    text-transform: uppercase !important;
}
.text--lowcase{
    text-transform: lowercase !important;
}
.text--center{
    text-align: center;
}
.text--left{
    text-align: left;
}
.text--right{
    text-align: right;
}

.fs-1{
    font-size: 2.2rem !important;
}
.fs-2{
    font-size: 1.8rem !important;
}
.fs-3{
    font-size: 1.4rem !important;
}
.fs-4{
    font-size: 1.2rem !important;
}
.fs-5{
    font-size: 1rem !important;
}
.fs-6{
    font-size: .6rem !important;
}
.fs-7{
    font-size: .4rem !important;
}

.curso-pointer{
    cursor: pointer;
}

.container{ 
    margin: 50px auto;
    padding: 0 20px;
    &--center{
        display: flex;
        justify-content: center;
    }
}

.responsive{
    width: 100%;
    overflow: auto;
}

@media only screen and (min-width: 992px){
    .container{
        width: 960px;        
    }
}
@media only screen and (max-width: 991px){
    .container{
        width: 100%;        
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}